h1= title
p Welcome to #{title}
a.button(href='/foo', data-method='post', data-type='json') foo
script(type='text/javascript')
  $(function() {
    $('.button').click(function(e){
      $(this).invoke().success(function(data){
        alert(data.success);
      });
      e.preventDefault()
    });
  });

